.coinContainer {
  margin: 50px auto;
  width: fit-content;
}

.input {
  width: 300px;
  margin-top: 100px;
  border: 1px solid silver;
  border-radius: 5px;
  height: 20px;
  padding: 15px;
  background-color: transparent;
  transition: all 0.2s ease;
}

.input::placeholder {
  color: #fff;
}

.input:focus {
  outline: none;
  border-color: white;
  background: white;
  box-shadow: rgba(74, 74, 74, 0.24) 0px 3px 8px;
}

@media (max-width: 768px) {
  .coinContainer {
    width: 100%;
    overflow-x: scroll;
  }
}
